{{ if and (eq .chezmoi.os "darwin" "linux") -}}

{{ $extensions := list
  "brandoncc.vscode-seeing-is-believing"
  "castwide.solargraph"
  "esbenp.prettier-vscode"
  "fayras.simple-new-file"
  "HookyQR.beautify"
  "IBM.output-colorizer"
  "keyring.Lua"
  "mdickin.markdown-shortcuts"
  "oderwat.indent-rainbow"
  "ow.vscode-subword-navigation"
  "patbenatar.advanced-new-file"
  "rebornix.ruby"
  "RomanPeshkov.vscode-text-tables"
  "stkb.rewrap"
  "teabyii.ayu"
  "tonsky.theme-alabaster"
  "wmaurer.change-case"
  "ziyasal.vscode-open-in-github"
-}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
