{{- if glob (joinPath .chezmoi.homeDir ".Brewfile") -}}
#!/bin/bash

# Ensure this script runs on .Brewfile changes by including a hash of its file contents:
~/.Brewfile: {{ include (joinPath .chezmoi.homeDir ".Brewfile") | sha256sum }}

# Handle different locations for Homebrew between Intel/Mx Macs
{{- if .eql -}}
  eval "$(/usr/local/bin/brew shellenv)"
{{ else }}
  eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

brew bundle --no-lock --file ~/.Brewfile
{{ end -}}
