{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

{{- if .eql -}}
  # Add symlinks for Leapp https://github.com/Noovolari/leapp/issues/257
  if [ ! -f /usr/local/bin/aws ]; then
    sudo ln -s /opt/homebrew/bin/aws /usr/local/bin
  fi
  if [ ! -f /usr/local/bin/session-manager-plugin ]; then
    sudo ln -s /opt/homebrew/bin/session-manager-plugin /usr/local/bin
  fi

  # Enable Rosetta to use the session manager plugin
  # https://github.com/aws/session-manager-plugin/issues/26
  softwareupdate --install-rosetta --agree-to-license
{{ end -}}

{{ end -}}
