{{ if and (eq .chezmoi.os "darwin" "linux") -}}

{{ $extensions := list
  "brandoncc.vscode-seeing-is-believing"
  "castwide.solargraph"
  "esbenp.prettier-vscode"
  "fayras.simple-new-file"
  "HookyQR.beautify"
  "IBM.output-colorizer"
  "keyring.Lua"
  "mdickin.markdown-shortcuts"
  "oderwat.indent-rainbow"
  "ow.vscode-subword-navigation"
  "patbenatar.advanced-new-file"
  "rebornix.ruby"
  "RomanPeshkov.vscode-text-tables"
  "stkb.rewrap"
  "teabyii.ayu"
  "tonsky.theme-alabaster"
  "wmaurer.change-case"
  "ziyasal.vscode-open-in-github"
-}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}

# EQL’s recommended
# ~/eql/eql.code-workspace
{{- $brews = concat $brews (list
  "amatiasq.sort-imports"
  "aws-scripting-guy.cform"
  "dbaeumer.vscode-eslint"
  "editorconfig.editorconfig"
  "foxundermoon.shell-format"
  "golang.go"
  "graphql.vscode-graphql"
  "kddejong.vscode-cfn-lint"
  "mgmcdermott.vscode-language-babel"
  "mike-co.import-sorter"
  "msjsdiag.debugger-for-chrome"
  "orta.vscode-jest"
  "redhat.vscode-yaml"
  "tht13.html-preview-vscode"
  "zengxingxin.sort-js-object-keys"
-}}
