{{- if (eq .chezmoi.os "darwin") -}}

{{- $taps := list
  "heroku/brew"
-}}

{{ if .visibuild -}}
{{- $taps = concat $taps (list
  "aws/tap")
-}}
{{ end -}}

{{- $brews := list
  "ack"
  "asdf"
  "atuin"
  "blueutil"
  "chezmoi"
  "direnv"
  "dockutil"
  "duti"
  "fd"
  "figlet"
  "ffmpeg"
  "fzf"
  "gh"
  "git"
  "graphviz"
  "heroku"
  "httpie"
  "imagemagick"
  "jq"
  "moreutils"
  "ocrmypdf"
  "overmind"
  "p7zip"
  "pgcli"
  "pspg"
  "ripgrep"
  "shellcheck"
  "switchaudio-osx"
  "tree"
  "wget"
-}}

{{/* Dependencies for building postgres via asdf */}}
{{- $brews = concat $brews (list
  "gcc"
  "readline"
  "zlib"
  "curl"
  "ossp-uuid"
  "icu4c"
  "pkg-config")
-}}

{{ if .visibuild -}}
{{- $brews = concat $brews (list
  "awscli"
  "aws/tap/aws-sam-cli"
  "autoconf"
  "cmake"
  "ffmpeg"
  "gmp"
  "icu4c"
  "imagemagick"
  "libyaml"
  "make"
  "openssl@3"
  "pkg-config"
  "poppler"
  "readline")
-}}
{{ end -}}

{{/* Re: dockutil, see https://github.com/kcrawford/dockutil/issues/127#issuecomment-1118733013 */}}

{{- $casks := list
  "1password"
  "1password-cli"
  "fantastical"
  "figma"
  "firefox"
  "font-jetbrains-mono"
  "fork"
  "hammerspoon"
  "hazel"
  "iterm2"
  "imagealpha"
  "imageoptim"
  "keyboardcleantool"
  "numi"
  "postico"
  "raycast"
  "slack"
  "transmission"
  "visual-studio-code"
  "vlc"
  "zoom"
  "zed"
-}}

{{ if .personal -}}
{{- $casks = concat $casks (list
  "google-chrome")
-}}
{{ end -}}
{{ if .visibuild -}}
{{- $casks = concat $casks (list
  "linear-linear"
  "medis"
  "notion")
-}}
{{ end -}}

{{- $apps := list
  "BBEdit -> 404009241"
  "Keynote -> 409183694"
  "Numbers -> 409203825"
  "Reeder -> 1529448980"
  "Soulver -> 413965349"
  "Spark -> 1176895641"
  "Telegram -> 747648890"
  "Velja -> 1607635845"
-}}
# Installation fails semi-regularly
# "1Blocker -> 1365531024"

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range ($apps | sortAlpha | uniq) -}}
{{- $app := split " -> " . -}}
mas "{{ $app._0 }}", id: {{ $app._1 }}
{{ end -}}

{{- end -}}
