[user]
  name = Max Wheeler
  email = max@makenosound.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsbpVzTnJliXeqGzrX6DUEiLCfs7v91ZUZQz2opQt6J
[alias]
  co = checkout
  create-branch = !sh -c 'git show-ref --quiet refs/heads/$1 && git co $1 || (git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1)' -
  cb = !sh -c 'git create-branch $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git branch -D $1' -
  fetch-branch = !sh -c 'git fetch origin && git checkout --track -b $1 origin/$1' -
  tidy = !git pull --ff-only --all --prune
  sync = "!f() { if [ -z \"$1\" ]; then echo 'Usage: git sync my-branch-to-sync [remote]'; exit 1; else git fetch ${2:-origin} ${1}:${1}; fi }; f"
  pf = push --force-with-lease
  recent = "!f() { local branches branch; branches=$(git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(authordate:relative)%09%(refname:short)') && branch=$(echo \"$branches\" | fzf-tmux -d $((2 + $(wc -l <<<\"$branches\"))) +m) && git checkout $(echo \"$branch\" | cut -f2 | sed 's/.* //' | sed 's#remotes/[^/]*/##'); }; f"
  summary = !sh -c 'git cherry -v --abbrev main "$(git rev-parse --abbrev-ref HEAD)" | cut -c 13-'
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[branch]
  sort = -committerdate
[color]
  ui = auto
[commit]
  gpgsign = true
[core]
  autocrlf = input
  editor = code -n -w
  excludesfile = ~/.gitignore
  hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
[fetch]
  prune = true
[github]
  user = makenosound
[gpg]
  format = ssh
[gpg "ssh"]
  # See https://1password.community/discussion/131318/ssh-commit-signing
  program = {{ .chezmoi.homeDir }}/.config/git/gpg-ssh-program
[init]
  defaultBranch = main
[push]
  default = current
  autoRemoteSetup = true
[pull]
  rebase = true

{{ if .eql -}}
[includeIf "gitdir/i:~/eql/"]
  path = {{ .chezmoi.homeDir }}/.config/git/eql.gitconfig
{{ end -}}
